<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/layout.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="wrapper">

        <ul class="nav flex-column bg-info">
            <li class="nav-item">
                <a class="nav-link active" href="#"><span class="fa fa-home text-white"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="fa fa-search text-white"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="fa fa-exclamation-triangle text-white"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="fa fa-question-circle text-white"></span></a>
            </li>
        </ul>
        <div class="second-nav-bar">
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="nav flex-column bg-light">
                    <li class="nav-item">
                        <h3>Reporting Asst.</h3>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white border-bottom" href="Account/Register"><span class="fa fa-user text-info"></span>Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white border-bottom" href="Account/Login"><span class="fa fa-lock text-info"></span>Login</a>
                    </li>
                </ul>
            }
            else if (User.IsInRole("User"))
            {
                <ul class="nav flex-column bg-light">
                    <li class="nav-item">
                        <h3>Reporting Asst.</h3>
                    </li>
                    <li class="nav-item">
                        <p class="please-login">Welcome @User.Identity.Name</p>
                        <p class="text-success">User</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-user text-home"></span>  Home</a>
                    </li>                                                                
                    <li class="nav-item">                                                
                        <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-exclamation-triangle text-home"></span>  My Issues</a>                                                     
                    </li>                                                                
                    <li class="nav-item">                                                
                        <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-history text-home"></span>  Issues History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-user text-home"></span>  Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-white border-bottom" href="Account/Logout"><span class="fa fa-lock text-home"></span>  Logout</a>
                    </li>
                </ul>
            }
            else if (User.IsInRole("Admin"))
            {
        <ul class="nav flex-column bg-light">
            <li class="nav-item">
                <h3>Reporting Asst.</h3>
            </li>
            <li class="nav-item">
                <p class="please-login">Welcome @User.Identity.Name</p>
                <p class="text-success">Admin</p>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-user text-home"></span>  Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-exclamation-triangle text-home"></span>  My Issues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-history text-home"></span>  Issues History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-users text-home"></span>  Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-user text-home"></span>  Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-white border-bottom" href="#"><span class="fa fa-maxcdn text-home"></span>  Masters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-white border-bottom" href="Account/Logout"><span class="fa fa-lock text-home"></span>  Logout</a>
            </li>
        </ul>
            }
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    </div>

</body>

</html>